    @font-face {
            font-family: "Rubik";
            src: url("../fonts/Rubik.ttf");
            font-weight: normal;
            font-style: normal;
            font-display: swap; 
            }    